@import url('../fonts/lato/stylesheet.css');
@import url('../fonts/textmeone/stylesheet.css');
*{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}

body{
	}


/*----------------fond, cadrillage des semaines et arcs--------------------------*/
.cadrillage{
}

#S1A1{
	width:2048px;
	height:1536px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#F30; 
	}

#S1A2{
	width:2048px;
	height:1536px;
	position:absolute;
	top:1536px;
	left:0px;
	background-color:#0FC; 
	}

#S1A3{
	width:2048px;
	height:1536px;
	position:absolute;
	top:3072px;
	left:0px;
	background-color:#63F; 
	}

#S2A1{
	width:2048px;
	height:1536px;
	position:absolute;
	top:0px;
	left:2048px;
	background-color:#996;
	}

#S2A2{	
	width:2048px;
	height:1536px;
	position:absolute;
	top:1536px;
	left:2048px;
	background-color:#6F9;
	}

#S2A3{
	width:2048px;
	height:1536px;
	position:absolute;
	top:3072px;
	left:2048px;
	background-color:#F3F;
	}

/*--------------------------------titrages----------------------------------------*/
h1{
	position:relative;
	top:-20px;
	left:10px;
	font-family:'TextMeOne';
	font-weight:900;
	font-size:70px;
	text-transform:uppercase;
	color:#6F9;
	}

h2{
	position:relative;
	top:0px;
	left:0px;
	font-family:'TextMeOne';
	font-weight:900;
	font-size:46px;
	color:#000;
	}
	
/*---------------------------------- paragraphes -------------------------------------*/	

p{
	margin:5px;
	
	}	
	
p:first-letter{
	font-size:3.65em;
	float:left;
	color:#6F9;
	padding:0 .01em -1em 0;
	margin-top:-0.1em;
	}
	
/*----------------------------- contener article, image, cartouche dans une semaine C1S1A1 = Contener 1 Semaine 1 Arc 1 -------------*/
.contener{
	}

#C1S1A1{
	width:600px;
	height:600px;
	position:relative;
	top:10px;
	left:50px;
/*	background-color:#36F;   */
	}

#C2S1A1{
	width:400px;
	height:600px;
	position:relative;
	top:-700px;
	left:750px;   
	}

#C3S1A1{
	
	}

#C4S1A1{
	
	}

/*-------------------------sous contener pour le cartouch carC1S1A1 ------------------------------------*/
.cartouch{
	height:40px;
/*	background-color:#00F;  */
	transform:rotate(-90deg);	
	-webkit-transform:rotate(-90deg);	
}

#carC1S1A1{
	position:relative;
	top:245px;
	left:-280px;
}

#carC2S1A1{
	position:relative;
	top:140px;
	left:-179px;
}

/*------------------------- text à l'interieur du cartouch -----------------------------------*/
.textcartouch{
	font-family:'TextMeOne';
	font-size:6px;
	text-align:right;
	position:relative;
	top:-38px;
	right:25px;
	
}

.chevroncartouch{
	font-family:'LatoRegular';
	font-size:36px;
	text-align:right;
	position:relative;
	right:0px;
	top:-12px;
	color:#6F9;
}

/*----------------------- images, illustration,... tous ce qui a une transparence I1C1S1A1 (Image 1 Contener 1 Semaine 1 Arc 1) -------------------*/
.illustrations{
	opacity:0.3;
	z-index:1;
}

#I1C1S1A1{					/*taille de l'image = 300 x225 px*/
	position:relative;
	top:-70px;
	left:30px;
	}
#I1C1S1A1 img{
	width:300px;
	}
	
#I2C1S1A1{					/*taille de l'image = 100 x 75 px*/
	position:relative;
	top:100px;
	left:55px;
	}

#I3C1S1A1{					/*taille de l'image = 100 x 75 px*/
	position:relative;
	top:-70px;
	left:55px;
	}	

/*-------------------text des articles A1C1S1A1  (Article 1 Contener 1 Semaine 1 Arc 1) -----------------------*/
.articles{
	
	opacity:1.0;
	z-index:2;
}

#A1C1S1A1{
	font-family:'LatoRegular';
	font-size:14px;
	color:#000;
	text-align:left;
	position:relative;
	top:-270px;
	left:33px;
	width:294px;
}
	
#A2C1S1A1{
	font-family:'LatoRegular';
	font-size:7px;
	color:#000;
	text-align:left;
	position:relative;
	top:-235px;
	left:50px;
	width:120px;
}

#A3C1S1A1{
	font-family:'LatoRegular';
	font-size:0.00002em;
	color:#000;
	text-align:left;
	position:relative;
	top:-440px;
	left:190px;
	width:40px;
}

















