@import url('../fonts/lato/stylesheet.css');

@import url('../fonts/roboto/stylesheet.css');
@charset "UTF-8";
/* CSS Document */
/*----------------------------------------------------*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*----------------------------------------------------*/
/*--------------------------------------------------constantes-----------------------------------------------------------------*/
/*A1*/
/*A2*/
/*A3*/
/*---------------------FIN constantes----------------------*/
/*---------------------------------------------------titrages-----------------------------------------------------------------*/
h1 {
  /*titre du quadrillage*/

  position: relative;
  top: -20px;
  left: 10px;
  font-family: 'roboto_condensedbold';
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  color: #6F9;
}
h2 {
  /*titre article*/

  font-family: 'roboto_condensedbold';
  font-size: 2em;
  color: #000;
}
h3 {
  /*chapeaux article*/

  font-family: 'LatoBold';
  font-size: 0.7em;
  line-height: 1.2em;
  color: #000;
}
h4 {
  /*exergue*/

  position: relative;
  top: 0px;
  left: 0px;
  font-family: 'LatoBold';
  font-weight: 900;
  font-size: 1.1em;
  color: #000;
}
/*---------------FIN-----------------titrages--------------------FIN--------------------*/
/*------------------------------------text des text A1C1S1A1  (Article 1 article(text) 1 Semaine 1 Arc 1) ----------------------------------------------*/
.text {
  font-family: 'LatoRegular';
  opacity: 1.0;
  font-size: .7em;
  line-height: 1.2em;
  z-index: 2;
  color: #000;
  text-align: left;
  position: relative;
  top: 0px;
  left: 0px
  width:60%;
}
/*
#T1-C1-S1-A1{
  font-size:3.5em;
  top:-710px;
  left:0px;
  width:100%;
  /*background-color:#3FF;*/
/*}*/
/*#T2-C1-S1-A1{
  font-size:1em;
  top:-235px;
  left:50px;
  width:80%;
}

#T3-C1-S1-A1{
  font-size: 1em;
  top:0px;
  left:0px;
  width:100%;
}*/
/*-----FIN------text des text A1C1S1A1  (Article 1 article(text) 1 Semaine 1 Arc 1) -----FIN-------*/
/*------------------------------------------------------- paragraphes ----------------------------------------------------------------*/p {
  margin: 5px;
}
/*---------------FIN------------------- paragraphes ---------------FIN----------------------*//*-------------------------------------------------fond, quadrillage des semaines et arcs----------------------------------------------*/
.tailleMatrice {
  width: 2048px;
  height: 1536px;
  position: absolute;
}
#S1A1 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ff3300;
}
#S1A2 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 1536px;
  left: 0px;
  background-color: #66ff99;
}
#S1A3 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 3072px;
  left: 0px;
  background-color: #6633ff;
}
#S2A1 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 0px;
  left: 2048px;
  background-color: #ff3300;
}
#S2A2 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 1536px;
  left: 2048px;
  background-color: #66ff99;
}
#S2A3 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 3072px;
  left: 2048px;
  background-color: #6633ff;
}
#S3A1 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 0px;
  left: 4096px;
  background-color: #ff3300;
}
#S3A2 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 1536px;
  left: 4096px;
  background-color: #66ff99;
}
#S3A3 {
  width: 2048px;
  height: 1536px;
  position: absolute;
  top: 3072px;
  left: 4096px;
  background-color: #6633ff;
}
/*--------FIN--------fond, quadrillage des semaines et arcs-------------FIN-------------*/
/*----------------------------- conteneur article, image, cartouche dans une semaine C1S1A1 = article(article) 1 Semaine 1 Arc 1 -------------*/
.article {
  position: relative;
  padding: 0.5em;
}
#C1-S1-A1 {
  width: 614.4px;
  height: ;
  top: 0px;
  left: 50px;
  background-color: #6F9;
}
#C2-S1-A1 {
  width: 409.6px;
  height: 921.5999999999999px;
  top: -800px;
  left: 750px;
  background-color: #6F9;
}
#C3-S1-A1 {
  width: 409.6px;
  height: ;
  top: -1900px;
  left: 1250px;
  background-color: #6F9;
}
/*----FIN----conteneur article, im age, cartouche dans une semaine C1S1A1 = article(article) 1 Semaine 1 Arc 1---------FIN---------*/
/*-------------------------- images, illustration,... tous ce qui a une transparence I1C1S1A1 (Image 1 article 1 Semaine 1 Arc 1) -----------------------*/
.illustrations {
  opacity: 0.3;
  z-index: 1;
  position: relative;
}
#I1-C1-S1-A1 {
  /*taille de l'image = 300 x225 px*/

  opacity: 0.3;
  z-index: 1;
  position: relative;
  top: 0px;
  left: 20px;
  width: 50%;
}
#I2-C1-S1-A1 {
  /*taille de l'image = 100 x 75 px*/

  opacity: 0.3;
  z-index: 1;
  position: relative;
  top: 100px;
  left: 55px;
}
#I3-C1-S1-A1 {
  /*taille de l'image = 100 x 75 px*/

  opacity: 0.3;
  z-index: 1;
  position: relative;
  top: -70px;
  left: 55px;
}
/*-----FIN----- images, illustration,... tous ce qui a une transparence I1C1S1A1 (Image 1 article 1 Semaine 1 Arc 1) -----FIN-----*/
